<div class="container pt-5">
  <div class="row mb-3">
    <div class="col-lg-8 offset-lg-2">
      <h1><%= t('.title') %></h1>
      <!-- 掲示板内容 -->
      <article class="card">
        <div class="card-body">
          <div class='row'>
            <div class='col-md-3'>
              <%= image_tag @board.board_image.url, class: "card-img-top img-fluid", size: '300x200' %>
            </div>
            <div class='col-md-9'>
              <h3 style='display: inline;'><%= @board.title %></h3>
              <% if current_user.own?(@board) %>
                <%= render 'crud_menus', board: @board %>
              <% end %>
              <ul class="list-inline">
                <li class="list-inline-item"><%= "by #{@board.user.decorate.full_name}" %></li>
                <li class="list-inline-item"><%= l @board.created_at, format: :long %></li>
              </ul>
            </div>
          </div>
          <%= simple_format(@board.body) %>
        </div>
      </article>
    </div>
  </div>

  <!-- コメントフォーム -->
  <div class="row mb-3">
    <div class="col-lg-8 offset-lg-2">
      <%= render partial: 'comments/form', locals: {board: @board, comment: @comment}  %>
    </div>
  </div>


  <!-- コメントエリア -->
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <table id="js-table-comment" class="table">
        <%= render partial: 'comments/comment', collection: @comments, locals: {board: @board} %>
      </table>
    </div>
  </div>
</div>
