<% content_for(:title, @board.title) %>
<div class="container pt-5">
  <div class="row mb-3">
    <div class="col-lg-8 offset-lg-2">
      <!-- <h1><%# t('.title') %></h1> -->
      <h1><%= @board.title %></h1>
      <div class="text-center">
        <%= image_tag current_user.avatar.url, class: 'rounded-circle mr15', size: '160x160' %>
      </div>
      <!-- 掲示板内容 -->
      <article class="card">
        <div class="card-body">
          <div class='row'>
            <!-- <div class='col-md-3'> -->
            <!--   <%# image_tag @board.board_image.url, class: "card-img-top img-fluid", size: '300x200' %> -->
            <!-- </div> -->
            <div class='col-md-9'>
              <ul class="list-inline">
                <li class="list-inline-item"><%= @user_now.decorate.description %></li>
              </ul>
              <!-- <h3 style='display: inline;'><%# @board.title %></h3> -->
              <%= render 'crud_menus', board: @board if current_user.own?(@board)%>
              <ul class="list-inline">
                <li class="list-inline-item"><%= "by #{@board.user.nickname}" %></li>
                <li class="list-inline-item"><%= l @board.created_at, format: :long %></li>
              </ul>
            </div>
          </div>
          <%= simple_format(@board.body) %>
        </div>
      </article>
      <% byebug %>
      <h3><%= Now.model_name.human %></h3>
      <% @user_now.attributes.each do |question, answer| %>
        <% if ["id", "user_id", "age", "board_id", "updated_at", "created_at"].include?(question) %>
          <% next %>
        <% else %>
          <% if answer.present? %>
            <h4><%= Now.human_attribute_name(question) %></h3>
            <p><%= answer %></p>
          <% end %>
        <% end %>
      <% end %>
      <h3><%= Highschool.model_name.human %></h3>
      <% @user_highschool.attributes.each do |question, answer| %>
        <% if ["id", "user_id", "age", "board_id", "updated_at", "created_at"].include?(question) %>
          <% next %>
        <% else %>
          <% if answer.present? %>
            <h4><%= Highschool.human_attribute_name(question) %></h3>
            <p><%= answer %></p>
          <% end %>
        <% end %>
      <% end %>
      <h3><%= College.model_name.human %></h3>
      <% @user_college.attributes.each do |question, answer| %>
        <% if ["id", "user_id", "age", "board_id", "updated_at", "created_at"].include?(question) %>
          <% next %>
        <% else %>
          <% if answer.present? %>
            <h4><%= College.human_attribute_name(question) %></h3>
            <p><%= answer %></p>
          <% end %>
        <% end %>
      <% end %>
      <h3><%= Society.model_name.human %></h3>
      <% @user_society.attributes.each do |question, answer| %>
        <% if ["id", "user_id", "age", "board_id", "updated_at", "created_at"].include?(question) %>
          <% next %>
        <% else %>
          <% if answer.present? %>
            <h4><%= Society.human_attribute_name(question) %></h3>
            <p><%= answer %></p>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <!-- コメントフォーム -->
  <%= render 'comments/form', { board: @board, comment: @comment } %>

  <!-- コメントエリア -->
  <%= render 'comments/comments', { comments: @comments } %>
</div>
